# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

.DS_Store

*.o
*.a
*.so
*.obj
*.lib
*.exp
*.dll
*.exe
*.pdb
*.log
*.ppo
*.pp$
*.map

*.dbf
*.ntx
*.cdx
*.fpt
*.idx

windows/*
win/*
darwin/*
linux/*
unix/*
